# Prerequisites
/ImageEditor/*.d

# Compiled Object files
/ImageEditor/*.slo
/ImageEditor/*.lo
/ImageEditor/*.o
/ImageEditor/*.obj

# Precompiled Headers
/ImageEditor/*.gch
/ImageEditor/*.pch

# Compiled Dynamic libraries
/ImageEditor/*.so
/ImageEditor/*.dylib
/ImageEditor/*.dll

# Fortran module files
/ImageEditor/*.mod
/ImageEditor/*.smod

# Compiled Static libraries
/ImageEditor/*.lai
/ImageEditor/*.la
/ImageEditor/*.a
/ImageEditor/*.lib

# Executables
/ImageEditor/*.exe
/ImageEditor/*.out
/ImageEditor/*.app

# visual studio metafiles
/ImageEditor/.vs

# x64 files
/ImageEditor/x64

# OpenGL Resources
/External_Resources